html {
	box-sizing: border-box;
	font-size: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: 'Spartan', sans-serif;
	// Weights 400,500 and 700
	background: $white;
	font-size: 15px;
}

.main {
	padding: 78px 24px;
}
